
*{
    margin: 0;
    padding: 0;
}


.mel-filtres-recherche{
    
    
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.mel-offre-recherche{
    height: fit-content;
    
}
.mel-offre-recherche-barr{

    
    height: 200px;
    width: 100%;
}

.mel-offre-recherche-title{
    margin-left: 10%;
}

.mel-offre-recherche-title h1 {
    margin-left: 5px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    
}

.mel-filtres{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center ;
    

}


.mel-filtres-select-ville{
    width: 100%;
    border-radius: 5px;
    border-color: #4D869C;
    height: 30px;
    color: #4D869C;
    font-size: 13px;
}

.mel-filtres-sec1{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.mel-filtres-sec2{
    width: 100%;
}

.mel-filtres-sec3{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.mel-filtres-select-secteur {
    width: 45%;
    border-radius: 5px;
    border-color: #4D869C;
    height: 30px;
    color: #4D869C;
}

.mel-recherche-filtre{
    border-color: #4D869C;
    color: #4D869C;
    font-size: 13px;
    height: 30px;
}

.mel-recherche-filtre{
    width: 45%;
    border-radius: 5px;
    border: 1px solid #4D869C;
    

}

.mel-recherche-filtre::placeholder{
    color: #4D869C;
}

.mel-filtres-recherche #mel-input-filtres{
    height: 30px;
    right: 0;
    background-color: #4338CA;
    width: 20%;
    color: white;
    border-radius: 5px;
}

#mel-filtres-result{
    display: none;
    font-family: Arial, sans-serif;

}


.mel-offre-recherche-result-affiche{
    width: 100%;
    display: grid;
    
    grid-template-columns: repeat(1, 1fr);
    
    gap: 5%;
    justify-items: center;
}

.mel-offre-result-affiche {
    position: relative;
    padding: 3%;
    padding-bottom: revert-layer;

    background-color: white;
    box-shadow:  5px 5px 5px 5px #747474,
     inset 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0);
    width: 86%;
    height: 100%;
    
}

.mel-offre-result-line{
    justify-content: center;
    height: 4px;
    width: 80%;
    margin-left: 10%;
    background-color: gray;
    margin-top:  7px;
    margin-bottom:  7px;
}


.mel-offre-result-affiche img{
    width:  20%;
    height: 20%;
}

.mel-offre-recherche-result h1{
    font-size: 15px;
    font-family: Arial, sans-serif;
    
}


.mel-offre-recherche-result-affiche p{
    font-size: 15px;
    font-family: Arial, sans-serif;
    
}

.mel-input-filtres-cont #mel-input-filtres{
    height: 30px;
    right: 0;
    background-color: #4338CA;
    width: 5em;
    color: white;
    border-radius: 5px;
    
    
}
.mel-input-filtres-cont{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.mel-offre-result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}























@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}

nav{
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  text-decoration: none;
  color: var(--color-1);
  font-size: 1.4em;
}

.icons-menu:hover{
  color: #0650b8;
  box-shadow: inset;
}

nav .home-link{
  margin-right: auto;
}
nav .home-link img{
  margin-top: 15px;
}
nav a, .svg{
  display: block;
}

#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}

.links-container button{
  color: white;
  background-color: #006aff;
  padding: 0.6em;
  border-radius: 0.8em;
  border: none;
  margin-right: 2em;
  font-size: 1.1em;
}


.icons-menu img{
  display: none;
}

.logo-mobile{
  display: none;
}

@media(max-width: 720px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: -5em;
    bottom: -5em;
    margin-right:0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--text-color);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  a img{
    display: block;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .icons-menu img{
    display: block;
  }

  .links-container button{
    color: white;
    background-color: #006aff;
    padding: 0.6em;
    border-radius: 0.8em;
    border: none;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-mobile{
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 70%;
    margin-top: -0.5em;
    margin-right: 75%;
  }

  .open-sidebar-button{
    margin-top: -1em;
  }

}

.links-container a {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 9;
  
}
@media (min-width:720px) and (max-width: 1000px) {


  .links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav a{
    height: 100%;
    padding: 0 10px;
    display: flex;
    text-decoration: none;
    color: var(--color-1);
    font-size: 1em;
  }
  
  nav .home-link{
    margin-right: auto;
  }
  nav .home-link img{
    margin-top: 15px;
  }
  nav a, .svg{
    display: block;
  }

  .links-container button{
    color: white;
    background-color: #006aff;
    padding: 0.6em;
    border-radius: 0.8em;
    border: none;
    margin-right: 2em;
    font-size: 0.8em;
  }
  
  

  
}


































@media (min-width :431px ) {
    
.mel-filtres-recherche{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    
    width: 100%;
    gap: 20px;

    
}
.mel-filtres-sec1{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.mel-filtres-sec3{
    margin-right: 0;
    justify-content: center;
}

.mel-filtres-select-secteur{
    width: 60%;
}

.mel-filtres-select-ville{
    width: 60%;
    margin-left: 20%;
}

.mel-offre-recherche-barr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 18%;
    gap: 10px;
    border-radius: 5%;
    background-color: #4338CA;
    border: 1px solid ;
    


}

.mel-filtres-recherche #mel-input-filtres{
    background-color: #B7CED5;
    color: hwb(0 0% 100%);   
    border: none;
    font-size: 14px;
    height: 130%;
    width: 30%;
}

.mel-offre-recherche{
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 2%;
    height: fit-content;


}

.mel-recherche-filtre{
    width:80%;
    

}

#mel-offre-recherche-title h1 {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

#mel-offre-recherche-title{
    display: flex;
    
     justify-content: center;
}

#mel-filtres-result{
    display: inline;
    height: 100px;
    
}
.mel-offre-recherche-result{
    width: 80% ;
    background-color: #abd2fab3;
    

}

#mel-filtres-result h1{
    
    font-size: 18px;
    padding: 2%;
    width: auto;
}

.mel-offre-recherche-result-affiche{
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 100px

}


}


@media (min-width:431px) and (max-width: 1000px) {

  .mel-offre-recherche-result-affiche{
    display: grid;
    
    grid-template-columns: repeat(1, 1fr);
    
    
    padding-top: 50px;
        padding-bottom: 50px;
        gap: 50px;

}


}